# Dictionnaries

Main principle: dict{key:value}

## Creating new dicts, adding elements

In [1]:
d1 = {}

In [9]:
d1["John"] = "076 1234567"
print(d1)

{'John': '076 1234567'}

In [13]:
d2 = {"Mary":"076 9876543"}
d2["Lincoln"]= "076 1357911"
d2["Nenad"]= "076 24681012"
print(d2)

{'Mary': '076 9876543', 'Lincoln': '076 1357911', 'Nenad': '076 24681012'}

## Removing Elements

In [14]:
# delete element
del d2["Mary"]
print(d2)

{'Lincoln': '076 1357911', 'Nenad': '076 24681012'}

In [15]:
d2.clear()
print(d2)

{}

## Accessing Elements

In [16]:
d3={'a':1, 'b':2, 'c':'d'}

In [18]:
d3.keys()

dict_keys(['a', 'b', 'c'])

In [19]:
d3.values()

dict_values([1, 2, 'd'])

## Misc

In [20]:
d3={'a':1, 'b':2, 'c':'d'}
d4={'a':3, 'b':2, 'd':'e'}

In [21]:
d3.keys() & d4.keys()

{'a', 'b'}